#kontak_bg {
  background-image: url("https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 730px;
}

.kontak {
  color: black;
  text-align: center;
  margin-top: 208px;
  background-color: white;
}
